<% provide(:title, "About Page") %>
<div class="center">
  <h1>About</h1>
</div>
<div class="row">
  <div class="span4">
    <%= render 'partials/lorem' %>
  </div>
  <div class="span8">
    <div class="well">
      <%= render 'partials/lorem' %>
    </div>
  </div>
</div>
