<footer class="footer">
  <small>
    ©2012 by <a href="http://www.wordplaysoftware.com">
    Wordplay Software LLC</a>
  </small>
  <nav>
    <ul>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</footer>
